<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<script src="https://unpkg.com/vue@2.2.5">
</script>
<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">
            {{ ingredient }} ({{ i }})
        </li>
    </ul>
    <button @click="ingredients.push('spices')">Push</button>
    <template v-for="(ingredient, index) in ingredients">
        <h4>{{ ingredient }}</h4>
        <p>{{ index }}</p>
    </template>

    <hr>
    <ul>
        <li v-for="person in persons">
            <span v-for="(value, key, index) in person">
                ({{index}}){{key}}: {{ value }}
            </span>
        </li>
    </ul>
    <hr>


    <p>Persons</p>

    <div v-for="person in persons">
        <p>Name: {{ person.name }}</p>
        <p>Age: {{ person.age }}</p>
        <p>Color: {{ person.color }}</p>
        <hr>
    </div>

    <span v-for="n in 10">{{n}}</span>
</div>
<script src="app.js"></script>
</body>
</html>